<div class="card-overview">
  <h1>Overview</h1>
  <div class="card-balance">
    <h2>Savings</h2>
    <p>{{ summary.total }}</p>
  </div>
  <div class="card-details">
    <mat-grid-list cols="2" rowHeight="28px">
      <mat-grid-tile class="column"> Investment Rate </mat-grid-tile>
      <mat-grid-tile class="column"> Yearly Gains </mat-grid-tile>
      <mat-grid-tile class="value">{{ summary.investmentRate }}</mat-grid-tile>
      <mat-grid-tile class="value">{{ summary.yearlyGain }}</mat-grid-tile>
    </mat-grid-list>
  </div>
  <app-card-miniature
    color="{{ summary.color }}"
    banking="{{ summary.banking }}"
    expiration="{{ summary.expiration }}"
    ending="{{ summary.ending }}"
  />
</div>
