.card-overview {
  position: relative;
  padding-left: 20px;
  height: 320px;

  h1 {
    font-size: x-large;
    font-weight: bold;
  }

  app-card-miniature {
    position: absolute;
    right: 380px;
    top: 40px;
  }
}

.card-balance {
  position: absolute;
  width: 300px;
  height: 72px;

  h2 {
    color: black;
    font-size: large;
    font-weight: bold;
    margin-top: 5px;
  }

  p {
    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
  }
}

.card-details {
  position: absolute;
  width: 320px;
  top: 140px;

  .left-column {
    display: flex;
    color: darkgray;
    font-size: large;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }

  mat-grid-list {
    div {
      width: 100%;
      display: flex;
      align-items: flex-start;
    }
  }

  .column {
    color: darkgray;
    font-size: large;
    margin: 0px;
  }

  .value{
    font-weight: lighter;
  }
}
