<div>
  <div class="menu-header">
    <div class="position">
      <mat-icon>account_balance_wallet</mat-icon>
      <p>Ledger</p>
    </div>
  </div>
  <div>
    <mat-nav-list>
      <ng-container *ngFor="let link of menu_links">
        <app-nav-menu-link
          [header]="link.header"
          [route]="link.route"
          [icon]="link.icon"
          [exact]="link.exact"
        ></app-nav-menu-link>
      </ng-container>
    </mat-nav-list>
  </div>
  <app-nav-menu-footer></app-nav-menu-footer>
</div>
