<div class="expense-section" *ngIf="WalletId > 0">
  <div class="header">
    <h1>Expenses - {{ this.total | currencyFormat }}</h1>
    <div class="button-group">
      <app-credit-card-period [walletGroupId]="WalletGroupId" (search)="onSearch($event)"></app-credit-card-period>
      <app-search-bar (search)="onSearch($event)"></app-search-bar>
      <button
        mat-icon-button
        aria-label="Open filter window"
        (click)="openFilter()"
      >
        <mat-icon *ngIf="hasFilter">filter_list</mat-icon>
        <mat-icon *ngIf="!hasFilter">filter_list_off</mat-icon>
      </button>
    </div>
  </div>
  <div class="table">
    <app-expense-table
      [header]="tableHeader"
      [expenses]="expenses"
      [totalItems]="totalItems"
      (pageChange)="loadExpenses($event)"
      (sortChange)="sortExpenses($event)"
    ></app-expense-table>
  </div>
</div>
