form {
  padding: 20px 10px;
}

h2 {
  margin: 0px 0px 10px 40px;
}

.form-actions {
  display: flex;
  justify-content: end;

  div {
    width: 180px;
    margin-top: 20px;
    display: flex;
    flex: 0 0 auto;
    text-align: right;
    justify-content: space-between;
  }
}

.container-miniature {
  position: relative;
  app-card-miniature {
    right: 370px;
    position: absolute;
    top: 0px;
  }
}

.form-group {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: 0px 40px;
}

hr {
  width: auto;
  margin-top: 0px;
}

.header {
  padding: 16px;
  font-size: x-large;
}

.color-min{
  width: 16px;
  height: 16px;
}
