<div class="container">
  <div class="header">
    {{ data.header }}
  </div>
  <hr />
  <div *ngIf="payments.length > 0" class="payment-section mat-elevation-z8">
    <table mat-table [dataSource]="payments" class="mat-elevation-z8">
      <!-- Expense Column -->
      <ng-container matColumnDef="expense">
        <th mat-header-cell *matHeaderCellDef>Payment</th>
        <td mat-cell *matCellDef="let row">
          <div class="expense-item">
            <div class="expense-icon">
              <app-ledger-icon
                [iconName]="row.icon"
                iconSize="2x"
              ></app-ledger-icon>
              <p>
                {{ row.expenseType }}
                <br />
                <span *ngIf="row.vendor !== 'NA'">
                  {{ row.vendor }}
                </span>
              </p>
            </div>
            <div class="expense-desc">
              <p [innerHTML]="row.expense"></p>
              <p>
                <b>{{ row.wallet }} </b>
              </p>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <th class="totalColumn" mat-header-cell *matHeaderCellDef>Total</th>
        <td class="expense" mat-cell *matCellDef="let row">
          {{ row.total + " " + row.currency }}
        </td>
      </ng-container>

      <!-- Buy Date Column -->
      <ng-container matColumnDef="buyDate">
        <th class="dateColumn" mat-header-cell *matHeaderCellDef>Charge Date</th>
        <td mat-cell *matCellDef="let row">{{ row.buyDate | date }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">
          <button
            *ngIf="!isProcessing && row.isPaid === false"
            mat-raised-button
            type="button"
            (click)="pay(row)"
          >
            Pay
          </button>
          <span *ngIf="!isProcessing && row.isPaid === true">
            <app-ledger-icon
              iconName="money-bill"
              iconSize="1x"
            ></app-ledger-icon>
            Paid
          </span>
          <mat-spinner *ngIf="isProcessing"></mat-spinner>
        </td>
      </ng-container>

      <!-- Paginator -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div *ngIf="payments.length === 0">
    <h2>No hay pagos asociados</h2>
  </div>
  <p *ngIf="error" class="expense">Error al enviar un pago</p>
  <div class="actions">
    <div>
      <button
        mat-raised-button
        class="secondary-btn"
        type="button"
        (click)="close()"
      >
        Close
      </button>
    </div>
  </div>
</div>
