.balance {
  color: #ff3c3c;
}

.expense-item {
  display: flex;
  min-height: 100px;
}

.expense-desc {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 16px 0px;

  p {
    padding: 0px;
    margin-bottom: 0px;
    font-size: large;
  }
}

.expense-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px 16px 0px 0px;
  min-width: 100px;

  p {
    margin-top: 5px;
    width: 100px;
    text-align: center;
    font-weight: bold;
  }
}

td h1 {
  text-align: left;
  margin: 0px;
}

.leftSpan {
  text-align: left;
  width: 100%;
}

.column {
  color: darkgray;
  font-size: large;
  margin: 0px;
}

.value {
  font-weight: lighter;
  .highlight {
    font-weight: bold;
    font-size: x-large;
    margin: 0px;
  }
}

.gray{
  color: darkgray;
}

.green{
  color: greenyellow;
}
