<mat-card class="overview-card">
  <mat-card-header>
    <mat-card-title>Overview</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile>
        <div>
          <h2>Current Balance</h2>
          <p>{{ intFreeMo.current | currencyFormat }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <h2>Monthly Payment</h2>
          <p>{{ intFreeMo.monthly | currencyFormat }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <h2>Total Payment</h2>
          <p>{{ intFreeMo.total | currencyFormat }}</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
