.card-container {
  position: absolute;
  width: 360px;

  border-radius: 32px;
  height: 218px;

  .header {
    position: absolute;
    top: 28px;
    font-size: 30px;
    font-weight: bold;
    left: 24px;
  }

  .rect {
    position: absolute;
    width: 360px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.2196078431);
    top: 64px;
  }

  .exp {
    position: absolute;
    bottom: 52px;
    font-size: large;
    left: 24px;

    .label {
      margin: 0px;
      font-weight: bold;
    }
  }

  .card-number {
    position: absolute;
    bottom: 20px;
    font-size: 28px;
    font-weight: normal;
    left: 24px;
  }
}

.blue {
  background-color: #007991;
  color: #bcd8c1;
  border: #bcd8c1 4px solid;
}

.lightblue {
  background-color: #b8e1ff;
  color: black;
  border: black 4px solid;
}

.tangerine {
  background-color: #d4a0a7;
  color: #e3e3e3;
  border: #e3e3e3 4px solid;
}

.platinum {
  background-color: #636363;
  color: #dbdbdb;
  border: #dbdbdb 4px solid;
}

.red {
  background-color: #f22b29;
  color: #f0f0f1;
  border: #f0f0f1 4px solid;
}

.yellow {
  background-color: #fcba04;
  color: black;
  border: black 4px solid;
}

.gold {
  background-color: #eedc38;
  color: black;
  border: #eedc38 4px solid;
}

.black {
  background-color: #171219;
  color: #dbdbdb;
  border: #dbdbdb 4px solid;
}
