<app-page-layout
  [title]="'Expenses'"
  [hasFilter]="true"
  [hasWidget]="true"
  (onSearch)="onSearch($event)"
  (add)="addExpense()"
  (openFilter)="openFilter()">
  <ng-container buttons>
    <button mat-icon-button (click)="goToDaily()">
      <mat-icon>calendar_month</mat-icon>
    </button>
  </ng-container>
  <div widget>
    <p>Widget Content</p>
  </div>

  <div main>
    <app-expense-table
    [header]="tableHeader"
    [expenses]="expenses"
    [totalItems]="totalItems"
    [catalog]="catalog"
    (pageChange)="loadExpenses($event)"
    (sortChange)="sortExpenses($event)"
    (expenseEdited)="refresh($event)"
  ></app-expense-table>
  </div>
</app-page-layout>

