<app-page-layout
  [title]="'Subscriptions'"
  [hasFilter]="hasActiveFilters"
  [hasWidget]="true"
  (onSearch)="onSearch($event)"
  (openFilter)="openFilter()"
  (add)="addSubscription()">


  <div widget>
    <app-subscription-summary
      [summary]="summary"
      (periodChange)="onSummaryPeriodChange($event)">
    </app-subscription-summary>
  </div>

  <div main class="main-content-fill">
    <app-subscription-dashboard
      [dataSource]="filteredSubscriptions"
      [totalItems]="filteredSubscriptions.length"
      [activeTotal]="activeTotal"
      [inactiveTotal]="inactiveTotal"
      [defaultCurrencySymbol]="defaultCurrencySymbol"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      (addPayment)="onAddPayment($event)"
      (viewHistory)="onViewHistory($event)"
      (viewPriceHistory)="onViewPriceHistory($event)">
    </app-subscription-dashboard>
  </div>

</app-page-layout>
