$color-black-fill: #091228;

.nav-container {
  height: 100%;
  width: auto;
}

mat-sidenav {
  min-width: 250px;
  background-color: $color-black-fill;
}

.content {
  padding: 0px;
  height: calc(100% - 32px);
}

button {
  z-index: 500;
  position: absolute;
  left: 20px;
  top: 20px;
}
